/*
FFFCE8 rgba(255, 252, 232, 1)
FAF5D4 rgba(250, 245, 212, 1)
FEF390 rgba(254, 243, 144, 1)
E6E472 rgba(230, 228, 114, 1)
BCAA37 rgba(188, 170, 55, 1)
98782D rgba(152, 120, 45, 1)
634D1B rgba(99, 77, 27, 1)
232323 rgba(35, 35, 35, 1)
EE5757 rgba(238, 87, 87, 1)
169A15 rgba(22, 154, 21, 1)
*/
body {
	background: #faf5d4;
	font-size: 1em;
}

#hdContent h1 {
	color: #FFFCE8;
	background-color: #232323;
	padding: 0.5em 0 0.5em 1em;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: 400;
	border-radius: 5px 5px 0 0;
	margin-top: 20px !important;
}
#hdContent h1 code,
#hdContent h2 code,
#hdContent h3 code,
#hdContent h4 code,
#hdContent h5 code,
#hdContent p code {
	font-style: italic;
	padding: 0 3px;
}
#hdContent #readme p {
	margin: 5px 10px 10px 10px;
}
#hdContent #readme h1 {
	margin: 0px;
}
#hdContent #readme code {
	font-family: "Lucida Console", Courier, monospace;
	font-size: 75%;
}
#hdContent #readme pre {
	width: 95%;
	margin: 10px auto;
	background-color: #169A15;
	border: 2px solid #FFFCE8;
	color: #FFFCE8;
	border-radius: 3px;
	padding: 10px;
	box-shadow: 0px 3px 8px 0px  rgba(99, 77, 27, 0.5);
}
#hdContent #readme table {
	width: 100%;
	border-collapse: collapse;
}
#hdContent #readme table tr td {
	vertical-align: baseline;
	padding: 0 5px;
}
#hdContent #readme table tr td:first-child {
	color: #169A15;
	width: 265px;
	font-size: 80%;
}
#hdContent #readme table tr th:first-child {
	padding-right: 5px;
}
#hdContent #readme table tr td:last-child {
	font-size: 80%;
}
#hdContent #readme table tr td:nth-child(2) {
	font-family: "Lucida Console", Courier, monospace;
	color: #98782d;
}
#hdContent #readme table tbody tr:nth-child(odd) {
	background-color: rgba(152, 120, 45, 0.1);
}
#hdContent #readme table tbody tr:nth-child(even) {
	background-color: rgba(255, 252, 232, .5);
}
#hdContent #readme table tbody tr:hover {
	background-color: rgba(248, 245, 122, 0.45);
}

#hdContent #readme table thead tr th,
#hdContent #readme table tbody tr td {
	border-bottom: 1px solid rgba(99, 77, 27, 0.15);
}
#hdContent #readme table tbody tr td {
	border-left: 1px solid rgba(99, 77, 27, 0.15);
}
#hdContent #readme table tbody tr td:last-child {
	border-right: 1px solid rgba(99, 77, 27, 0.15);
}
#hdContent #qunit,
#hdContent #runtests {
}
#hdContent #qunit #qunit-header,
#hdContent #qunit #qunit-header a {
	color: #faf5d4;
	background-color: #232323;
}
#hdContent #qunit-banner {
	background: linear-gradient(135deg,  #98782d 40%, #E6E472 50%, #98782d 60%);
	background-position: 0 0;
	background-size: 200% 200%;
}
#hdContent #qunit-banner:not(.qunit-fail):not(.qunit-pass) {
	border: 1px solid black;
	animation: busy-banner 3s linear infinite;
}
@keyframes busy-banner {
	0%{background-position:200% 0%}
	50%{background-position:0% 0%}
	100%{background-position:-200% 0%}
}
#hdContent #qunit-banner.qunit-fail {
	background: #EE5757;
}
#hdContent #qunit-banner.qunit-pass {
	background: #169A15;
}
#hdContent #qunit #qunit-testrunner-toolbar {
	color: #232323;
	background: #faf5d4;
}
#hdContent #qunit #qunit-userAgent {
	background-color: #98782d;
}
#hdContent #qunit #qunit-tests,
#hdContent #qunit #qunit-tests .pass,
#hdContent #qunit #qunit-testresult {
	color: #232323;
	background-color: #fef390;
}
#hdContent #qunit #qunit-tests #qunit-tests li a,
#hdContent #qunit #qunit-tests .pass .test-name,
#hdContent #qunit #qunit-testresult a {
	color: #232323;
}
#hdContent #perfTotals h3 {
	margin-bottom: 0;
}
#hdContent #perfTotals table.performance {
	font-family: "Lucida Console", Courier, monospace;
	font-size: 12px;
	width: 600px;
}
#hdContent #perfTotals table.performance th,
#hdContent #perfTotals table.performance td {
	text-align: right;
	width: 25%;
	padding: 0px 5px;
}
#hdContent #perfTotals table.performance th:first-child {
	background-color: transparent !important;

}
#hdContent #perfTotals table.performance th:nth-child(odd),
#hdContent #perfTotals table.performance td:nth-child(odd) {
	background-color: rgba(255, 252, 232, 0.7);
}
#hdContent #perfTotals table.performance th:nth-child(even),
#hdContent #perfTotals table.performance td:nth-child(even) {
	background-color: rgba(152, 120, 45, 0.1);
}
#hdContent #perfTotals table.performance tbody tr:hover,
#hdContent #perfTotals table.performance tbody tr:hover td {
	background-color: rgba(248, 245, 122, 0.45);
}
#hdContent .spacer {
	margin-bottom: 1000px;
}
.perf-pass {
	color: #169A15;
}
.perf-fail {
	color: #EE5757;
}
p.note {
	font-size: 80%;
	margin: 3px 0px;
}